extends: "../.eslintrc"
env:
    jasmine: true

globals:
    chai: true
    sinon: true
    expect: true
    mockery: true
    mock: true

rules:
    max-len:
        - 2
        - 250
    func-names: 0
    max-nested-callbacks:
        - 2
        - 5
    no-magic-numbers: 0
